@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Pangolin&display=swap');

body {
    background: url("../html-background.png"); 
    background-size: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

head{
    text-align: center;
    margin: 100px;
}

.title{
    display: block;
    margin: 0 auto;
    padding: 4rem;
}

video{
    display: block;
    margin: 0 auto;
}

.button-place{
    margin-top: 2rem;
}

.skip-button{
    display: block;
    color:white;
    background-color: transparent;
    font-size: 24px;
    top: 90%;
    height: 56px;
    width:30rem;
    font-family: 'Pangolin', cursive;
    margin:0 auto;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.skip-button:hover{
    background-color: white;
    color: #54C1F4;
}